@charset "UTF-8";
body {
    background-image: url(../img/rainbow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 3em;
}

h2 {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 2em;
}

#img {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#wrapper {
    text-align: center;
    padding: 2%;
}

#button {
    background-color: white;
    width: 15%;
    height: 10%;
}